header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 1%;
}

body{
    background-color: rgb(198, 193, 186);
}

/*links*/
nav{
    text-align: center;
    color: rgb(254, 67, 87);
    font-size: 1em;
}

/*Em section estao os articles e informacoes sobre personagens e funcoes*/ 
section{
    padding: 1%;
}

/*titulo*/
h1{
    color: rgb(254, 67, 87);
    text-align: center;
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*subtitulo*/
h2{
    color: rgb(95, 24, 33);
    text-align: center;
    font-size: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*segundo subtitulo*/
h3{
    color: rgb(254, 67, 87);
    font-size: 20px;
}

p{
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 20px;
}

li{
    color: rgb(0, 0, 0);
    line-height: 20px;
    font-size: 18px;
}

footer{
    background-color:rgb(0, 0, 0);
}


/*Classe do paragrafo no footer*/
.final{
    color: rgb(254, 67, 87);
}

/*Classe do div para a logo*/
.logo{
    text-align: center;
    color: rgb(254, 67, 87);
    font-size: 1em;
}

/*Classe da imagem do banner*/
.banner{
    width: 100%;
}

/*Classe do div para conter as informacoes*/
.container{
    background-color: rgb(236, 231, 225);
    width: 80%;
    margin: auto;
}

/*Classe para o nome dos personagens*/
.nome{
    color: rgb(254, 67, 87)
}

/*Classe para imagem dos personagens*/
.agente{
    width: 20%;
}

/*Estilo dos links*/

/*Link ser ter sido visitado*/
a.menu:link{
    color: rgb(254, 67, 87);
    text-decoration: none;
}

/*Link visitado*/
a.menu:visited{
    color: rgb(95, 24, 33);
}

/*Quando o mouse passar por cima do link*/
a.menu:hover{
    color: rgb(254, 67, 87);
}

/*Quando o link é ativadoc*/
a.menu:active{
    color: rgb(236, 231, 225);
}