body{
    background-color: rgb(250, 250, 247);
}

header ,main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 95px;
    text-align: center;
    background-color: antiquewhite;
    border-color: rgb(150, 140, 127);
}